<html>
<head>
	<title> Marco Izquierdo </title>
</head>

<body>

<!----------------------------------------------------------------------------1ra parte---------------------------------------------------------------------------->

<body background="./fondos/fondo_marco_izquierdo.jpg">
<br> <br>

<center>
	<img src="./imagenes/giulianna.png" alt="Foto de la profesora" border="0"> <br> <br>
</center>


<center>
	<FONT SIZE=6 COLOR=purple> GIULIANNA OLIVA MORALES </FONT> 
</center>

<br>
<center>
	<FONT SIZE=5 COLOR=white> <I> Licenciada y Profesora en Educación Matemática y Computación - Universidad de Santiago </I> </FONT>
<br> <br> <br>
</center>

<center> <FONT SIZE=6 COLOR=yellow> <u> Menú Principal: </u> </FONT> </center>
<br>
<center>
	<img src="./imagenes/dedo.png" style="max-width: 30px; max-height: 30px"/> 
	<img src="./imagenes/dedo.png" style="max-width: 30px; max-height: 30px"/>
	<img src="./imagenes/dedo.png" style="max-width: 30px; max-height: 30px"/>
	<img src="./imagenes/dedo.png" style="max-width: 30px; max-height: 30px"/>
</center>

<!----------------------------------------------------------------------------menu---------------------------------------------------------------------------->

<ul>
	<FONT SIZE=5 COLOR=yellow> <li> <A HREF="pag1.html" TARGET="der-principal"> Trayectoria académica </A> 
<br>
 	<FONT SIZE=5 COLOR=yellow> <li> <A HREF="pag2.html" TARGET="der-principal"> Metodología de Trabajo </A>
</ul>
<br> <br>

	<center><FONT SIZE=6 COLOR=yellow> <u> ¿Necesitas más info? </u> </FONT> </center>

<br> 
<center>
<a href="pag3.html" TARGET="_blank"><img src="./gif/contactame.gif"></a>
</center>

</map>
</body>
</html>